# Private keys
.streamlit/secrets.toml
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp