APP_NAME=AI CFO Copilot API
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+asyncpg://postgres.PROJECT_REFERENCE:YOUR_PASSWORD@aws-0-REGION.pooler.supabase.com:6543/postgres